/* iPad・スマホへの振り分け */

/* 表示領域が1020px以上の場合に適用するスタイル（パソコン向け） */
@media screen and (min-width: 1020px) {
}	

/* 表示領域が1019px以下の場合に適用するスタイル（スマホ向け） */
@media screen and (max-width: 1019px) and (min-width: 551px) {
}

body {
    font: normal normal normal 17px/17px Open Sans;
    color:#262626;
}

header, footer {
    font: normal normal 300 13px/18px Open Sans;
    background-color: #fff;
    color:#000000;
}

footer {
    padding: 20px;
    background: transparent linear-gradient(180deg, #212121 0%, #454545 49%, #212121 100%) 0% 0% no-repeat padding-box;
}

.div_bg {
    background-image: url(../img/bg.png);
}

.head_logo {
    display: block;
    margin:auto;
    padding:100px 0 30px;
}

.head_title {
    font: normal normal bold 38px/70px Open Sans;
    color: #66008D;
    text-align: center;
}

.header_orange {
    padding:30px;
    height:20px;
    position: fixed;
    z-index: 9000;
    background-color: #E46E2E;
    width: 100%;
}

.footer_orange {
    padding: 20px 0 40px;
    height:20px;
    font: normal normal normal 17px/26px Hiragino Kaku Gothic Pro;
    color: #FFFFFF;
    background-color: #E46E2E;
    width: 100%;
    text-align: center;
}

.lang_div {
    font: normal normal bold 16px/18px Arial;
    width: 200px;
    float: right;
    margin-top: -6px
}

.header_pc {
    display: flex;
    width:100%;
    position: fixed;
    z-index: 9000;
    background: transparent linear-gradient(180deg, #222222 0%, #393939 100%) 0% 0% no-repeat padding-box;
}

.header_sp {
    width:100%;
    position: fixed;
    z-index: 9000;
    height: 50px;
    padding:10px;
}

a {
    color:#262626;
    text-decoration: none;
}

.logo_a {
    display: inline-block;
    margin-left: 100px;
    margin-top: 20px;
}

img {
    vertical-align: unset!important;
}

.footer_menu a:hover, .header_menu a:hover {
    text-decoration: none;
    opacity:0.5;
}

p {
    margin-bottom: 0;
}

.header_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 900px;
    margin: auto;
}

.header_menu_user {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    margin-left: auto;
    margin-right: 40px;
}

.header_a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 5px;
    text-align: center;
    font: normal normal normal 12px/18px Futura PT;
}

.footer_border {
    width:100%;
    height:10px;
    background: transparent linear-gradient(90deg, #6A0DFF 0%, #68009F 100%) 0% 0% no-repeat padding-box;
}

.footer_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    margin:30px auto;
}

.footer_a {
    font: normal normal 600 16px/20px Open Sans;
    color: #FFFFFF;
    padding:0 20px;
    text-decoration: underline;
}

.footer_separate {
    color: #fff;
    font-size: 18px;
}

.footer_explain {
    width:1080px;
    font: normal normal normal 14px/20px Open Sans;
    color: #D1D1D1;
    margin: auto;
}

.footer_logo {
    display: block;
    margin:50px auto 10px;
}

.copyright {
    font: normal normal 600 14px/20px Open Sans;
    color: #FFFFFF;
    text-align: center;
}

.header_btn1 {
    margin: 5px;
    background: transparent linear-gradient(90deg, #6A0DFF 0%, #68009F 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 5px #7D0DFFB9;
    border: 2px solid #6A0DFF;
    border-radius: 5px;
}

.header_btn2 {
    background: #2626264D 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 5px #7D0DFFB9;
    border: 2px solid #6A0DFF;
    border-radius: 5px;
}

.header_btn3 {
    background: #404040 0% 0% no-repeat padding-box;
    border: 2px solid #D3D3D3;
    border-radius: 6px;
}

.menu_name {
    font: normal normal normal 14px/18px Arial;
}

.user_div {
    font: normal normal 600 16px/36px Open Sans;
    padding:50px 20px 40px;
    background: #505050 0% 0% no-repeat padding-box;
    border-left: 1px solid #A5A5A5;
    width:230px;
    color: #FFFFFF;
    margin-right: 200px;
}

.user_name {
    margin-left: 10px;
    margin-right: 40px;
}

.user_span {
    vertical-align: top;
}

.user_detail {
    font: normal normal normal 16px/30px Arial;
    letter-spacing: -0.16px;
    padding:30px 10px;
    background: #505050 0% 0% no-repeat padding-box;
    border-top: 1px solid #A5A5A5;
    width:230px;
    color: #FFFFFF;
    top: 136px;
    right: 200px;
    position: fixed;
    z-index: 9000;
}

.user_detail_content {
    font: normal normal 600 18px/28px Open Sans;
    letter-spacing: -0.2px;
    color: #68009F;
    text-align: center;
    padding: 10px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border: 0.6px solid #222222;
    margin-bottom: 15px;
}

.user_content_div {
    background: transparent linear-gradient(180deg, #7B7B7B 0%, #9A9999 52%, #626262 100%) 0% 0% no-repeat padding-box;
    padding:0 200px;
}

.user_content_flex {
    display: flex;
    width:100%;
}

.user_sidebar {
    font: normal normal normal 18px/24px Open Sans;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-shadow: 0px 0px 3px #00000029;
    background: transparent linear-gradient(90deg, #6A0DFF 0%, #66008D 100%) 0% 0% no-repeat padding-box;
    min-width: 200px;
    padding-left: 50px;
    min-height: 600px;
}

.user_a {
    display: block;
    margin-top: 50px;
    color: #FFFFFF;
}

.user_content_main {
    background: transparent linear-gradient(88deg, #FFFFFF 0%, #EFEFEF 54%, #E8E8E8 100%) 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 4px #00000019;
    border: 1px solid #A5A5A5;
    width:1052px;
    font: normal normal bold 18px/30px Arial;
    letter-spacing: -0.18px;
    color: #262626;
    padding: 50px 200px 90px 40px;
    width: 1100px;
    min-width: 1000px;
}

.user_content_title {
    font: normal normal bold 24px/46px Open Sans;
    color: #66008D;
    width:100%;
    border-bottom: 1px solid #A5A5A5;
    margin-bottom: 15px;
}

.user_item_flex {
    display: flex;
    width: 100%;
}

.user_item {
    width:50%;
    margin-bottom: 24px;
}

.user_item_name {
    font: normal normal bold 16px/28px Arial;
    letter-spacing: -0.18px;
    color: #262626;
}

.history_item_name {
    font: normal normal bold 16px/30px Arial;
    letter-spacing: -0.16px;
    color: #262626;
    position: absolute
}

.user_item_content {
    font: normal normal 600 18px/28px Open Sans;
    letter-spacing: -0.2px;
    color: #66008D;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border: 0.6000000238418579px solid #222222;
    border-radius: 3px;
    padding:14px 24px;
    width: 85%;
}

.history_item_content {
    font: normal normal 600 18px/24px Open Sans;
    letter-spacing: -0.2px;
    color: #66008D;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border: 0.6000000238418579px solid #222222;
    border-radius: 3px;
    padding:8px 24px;
    width: 100%;
    position: absolute
}

.history_img {
    width: 65%;
}

.history_item {
    width: 100%;
    padding-left: 15px;
    position: relative;
}

.pagenate {
    width:65%;
    text-align: center;
    margin-top: 20px;
    font: normal normal bold 16px/28px Arial;
    letter-spacing: -0.18px;
    color: #262626;
}

.page_current {
    color: #66008D;
}

.current {
    text-decoration: underline;
    opacity: 0.6;
}

.deposit_btn_flex {
    display: flex;
    width:96%;
    justify-content: space-between;
}

.deposit_btn {
    font: normal normal 600 16px/22px Open Sans;
    color: #FFFFFF;
    background: transparent linear-gradient(90deg, #6A0DFF 0%, #68009F 100%) 0% 0% no-repeat padding-box;
    border: 2px solid #6A0DFF;
    border-radius: 5px;
    padding: 20px 0;
    cursor: pointer;
    text-align: center;
    width:30%;
}

.card_banner {
    width:96%;
    margin-bottom: 40px;
}

.deposit_title {
    font: normal normal bold 22px/70px Open Sans;
    letter-spacing: 0px;
    color: #66008D;
    text-align: center;
}

.deposit_text {
    font: normal normal normal 16px/28px Arial;
    letter-spacing: -0.18px;
    color: #262626;
    text-align: center;
}

.deposit_red {
    font: normal normal bold 15px/23px Arial;
    letter-spacing: -0.16px;
    color: #FF0000;
    text-align: center;
}

.bank_detail {
    width: 470px;
    display: flex;
    padding:30px 80px;
    font: normal normal 600 16px/36px Open Sans;
    letter-spacing: -0.18px;
    color: #262626;
    justify-content: space-between;
    margin: 15px auto;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border: 0.6px solid #222222;
    border-radius: 3px;
}

.bank_text {
    font: normal normal normal 13px/20px Arial;
    letter-spacing: -0.14px;
    color: #262626;
    margin:auto;
}

.deposit_item_flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.deposit_item {
    width: 45%;
    margin-bottom: 24px;
}

.deposit_item_content {
    font: normal normal 600 18px/28px Open Sans;
    letter-spacing: -0.2px;
    color: #66008D;
    border-radius: 3px;
    padding: 14px 24px;
    width: 85%;
}

.deposit_input_text {
    font: normal normal 600 18px/28px Open Sans;
    letter-spacing: -0.2px;
    color: #000;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.6px solid #222222;
    border-radius: 3px;
    padding: 14px 24px;
    width: 85%;
}

.t_mark {
    display: block;
    margin: 0 auto 20px;
}

.t_box {
    padding:30px;
    width:500px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border: 0.6px solid #222222;
    border-radius: 3px;
    text-align: center;
    font: normal normal 600 16px/36px Open Sans;
    letter-spacing: -0.18px;
    color: #262626;
    margin: 15px auto 50px;
}

#withdraw_div {
    width:95%;
    margin:auto;
}

.header_margin {
    margin-top:134px;
}

.pt100 {
    padding-top: 100px;
}

.pb100 {
    padding-bottom: 100px;
}

.header_padding_sp {
    padding-top:83px;
}

.header_margin_sp {
    margin-top: 48px;
}

.login_div {
    width:700px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 4px #00000019;
    border-left: 1px solid #A5A5A5;
    border-right: 1px solid #A5A5A5;
    border-bottom: 1px solid #A5A5A5;
    border-top: 7px solid #6A0DFF;
    margin:auto;
    padding:50px 100px;
}

.login_logo {
    display: block;
    margin:auto;
    width:75px;
}

.login_title {
    font: normal normal bold 42px/76px Open Sans;
    letter-spacing: 0px;
    color: #66008D;
    text-align: center;
}

.login_text {
    font: normal normal 600 16px/32px Open Sans;
    letter-spacing: -0.16px;
    color: #262626;
    text-align: center;
    margin-bottom: 50px;
}

.login_item_name {
    font: normal normal normal 16px/26px Arial;
    letter-spacing: -0.18px;
    color: #66008D;
}

.login_form_text {
    font: normal normal normal 20px/30px Arial;
    letter-spacing: -0.2px;
    color: #262626;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    border: 0.6px solid #222222;
    border-radius: 3px;
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 20px;
}

.faq_div {
    width:1200px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 4px #00000019;
    border-left: 1px solid #A5A5A5;
    border-right: 1px solid #A5A5A5;
    border-bottom: 1px solid #A5A5A5;
    border-top: 7px solid #6A0DFF;
    margin:auto;
    padding:60px 80px;
}

.faq_q {
    padding:30px 20px;
    width:100%;
    font: normal normal normal 18px/25px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    background: transparent linear-gradient(90deg, #313131E5 0%, #373737 100%) 0% 0% no-repeat padding-box;
}

.faq_a {
    padding:25px 20px;
    width:100%;
    font: normal normal normal 16px/22px Open Sans;
    letter-spacing: 0px;
    color: #262626;
    background: #EFEFEF 0% 0% no-repeat padding-box;
}

.acount_div {
    width:1080px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 3px 3px 4px #00000019;
    border-left: 1px solid #A5A5A5;
    border-right: 1px solid #A5A5A5;
    border-bottom: 1px solid #A5A5A5;
    border-top: 7px solid #6A0DFF;
    margin:auto;
    padding:50px 70px;
}

.acount_btn_flex {
    width:900px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.acount_btn {
    font: normal normal 600 20px/26px Open Sans;
    color: #FFFFFF;
    background: transparent linear-gradient(90deg, #6A0DFF 0%, #68009F 100%) 0% 0% no-repeat padding-box;
    border: 2px solid #6A0DFF;
    border-radius: 5px;
    padding: 20px 150px;
    cursor: pointer;
}

.not {
    opacity: 0.4;
}

.form_item_title {
    font: normal normal bold 20px/40px Open Sans;
    color: #66008D;
    margin-top: 50px;
}

.form_line {
    background-color: #707070;
    height:1px;
    margin-bottom: 30px;
}

.form_flex {
    display: flex;
}

.form_item {
    margin-right:90px;
    margin-bottom: 20px;
    width: 380px;
}

.form_item_name {
    font: normal normal normal 18px/30px Arial;
    letter-spacing: -0.18px;
    color: #262626;
}

.form_item_name_sub {
    font: normal normal normal 14px/26px Arial;
    letter-spacing: -0.14px;
    color: #262626;
}

.required {
    font: normal normal normal 10px/30px Arial;
    letter-spacing: -0.1px;
    color: #FF0000;
}

select {
    font: normal normal normal 20px/30px Arial;
    letter-spacing: -0.2px;
    color: #262626;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.6px solid #222222;
    border-radius: 3px;
    width: 380px;
    padding: 15px 20px;
}

.form_text {
    font: normal normal normal 20px/30px Arial;
    letter-spacing: -0.2px;
    color: #262626;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.6px solid #222222;
    border-radius: 3px;
    width: 380px;
    padding: 15px 20px;
}

::placeholder {
    color: #262626;
    opacity: 0.5;
}

.select_ymd {
    width:120px;
}

.ymd_flex {
    display: flex;
    justify-content: space-between;
}

.form_radio_item {
    height:25px;
}

.form_item_text {
    margin:20px 0;
}

.form_a {
    color: #007bff;
    text-decoration: none;
}

label {
    padding: 15px 30px;
    color: #262626;
    cursor: pointer;
    background: #D8D8D8 0% 0% no-repeat padding-box;
    border: 0.6px solid #222222;
    border-radius: 3px;
    font: normal normal normal 18px/26px Arial;
}

input[type="file"] {
    display: none;
}

.file_p {
    display: inline-block;
    font: normal normal normal 16px/28px Arial;
    letter-spacing: -0.18px;
    color: #262626;
    margin-left: 10px;
    width:170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.supplement {
    font: normal normal normal 12px/18px Arial;
    letter-spacing: -0.14px;
    color: #6E6E6E;
}

input[type=checkbox] {
	width:			20px;
	height:			20px;
	-moz-transform:		scale(1.4);
	-webkit-transform:	scale(1.4);
	transform:		scale(1.4);
    margin-right:10px;
}

.check_text {
    margin-top: 50px;
    font: normal normal bold 18px/30px Arial;
    letter-spacing: -0.18px;
    color: #262626;
    text-align: center;
}

.complete_text {
    font: normal normal normal 22px/30px Arial;
    letter-spacing: -0.24px;
    color: #262626;
    text-align: center;
    margin-top: 30px;
}

.demo_explain {
    font: normal normal bold 20px/30px Open Sans;
    color: #262626;
    text-align: center;
}

.demo_span {
    color: #66008D;
}

.btn_a {
    width:400px;
    margin:auto;
    display: block;
    cursor: pointer;
}

.btn_a:hover {
    text-decoration: none;
}

.btn_purple {
    background: transparent linear-gradient(90deg, #6A0DFF 0%, #68009F 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 5px #7D0DFFB9;
    border: 2px solid #6A0DFF;
    border-radius: 5px;
    font: normal normal normal 26px/36px Open Sans;
    color: #FFFFFF;
    text-align: center;
    padding:30px;
}

.login_btn_a {
    width:100%;
    margin:auto;
    display: block;
    cursor: pointer;
}

.login_btn {
    background: transparent linear-gradient(90deg, #6A0DFF 0%, #68009F 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 5px #7D0DFFB9;
    border: 2px solid #6A0DFF;
    border-radius: 5px;
    font: normal normal normal 26px/36px Open Sans;
    color: #FFFFFF;
    text-align: center;
    width:100%;
    padding:20px;
    margin-bottom: 40px;
}

.reminder_a {
    font: normal normal normal 16px/28px Arial;
    letter-spacing: -0.18px;
    color: #262626;
    text-align: center;
    margin:10px;
}

.reminder_a a {
    text-decoration: underline;
    color: #66008D;
}

textarea {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.6000000238418579px solid #222222;
    border-radius: 3px;
    width: 850px;
    height: 230px;
}

.company_flex {
    display: flex;
    width:100%;
    border-top: 1px solid #A5A5A5;
}

.company_before {
    width: 200px;
    margin: 10px 50px;
    padding: 10px;
    font: normal normal 600 18px/40px Open Sans;
    letter-spacing: 1.35px;
    color: #363833;
    border-right: 1px solid #A5A5A5;
}

.company_after {
    margin: 10px 50px;
    padding: 10px;
    font: normal normal normal 18px/30px Open Sans;
    letter-spacing: 1.35px;
    color: #363833;
}

#registration_pc {
    overflow-x: hidden;
}

#registration_sp {
    overflow-x: hidden;
    font: normal normal normal 12px/16px Open Sans;
    color: #262626;
}

.body_sp {
    min-width:375px;
    text-align:-webkit-center;
}

li {
    list-style: none;
}

.none {
    opacity: 0;
    z-index:-1;
}

